{% extends 'base.html' %}
{% load static %}

{% block title %}Agenda de Processos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'segunda_app/css/calendar_page_styles.css' %}">
{% endblock %}

{% block sections %}
<section>
    <h1>Selecione uma Data</h1>
    <form method="GET" action="{% url 'adicionar_compromisso' %}">
        {% csrf_token %}
        <label for="datepicker">Data:</label>
        <input type="text" id="datepicker" name="date" required>
        <input type="submit" value="Adicionar Compromisso">
    </form>
</section>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script src="{% static 'segunda_app/js/calendar_script.js' %}"></script>
{% endblock %}