@charset "UTF-8";

/* Variáveis pra palheta de cor escolhida */
:root {
    --nav-bg-color: #171717;
    --main-bg-color: #fff;
    --aside-bg-color: #cac9c9;
    --text-color: #000;
    --link-color: #ececec;
    --link-hover-color: #fff;
    --button-color: #171717;
}

/* Toda vez que criar um site novo, remova os estilos padrão! */
* {
    margin: 0;                      /* Remove a margem padrão */
    padding: 0;                     /* Remove o espaçamento interno padrão */
    list-style-type: none;          /* Remove os marcadores */
    text-decoration: none;
    border: none;
    background: none;
    
    text-align: center;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    color: var(--text-color);
}

a {
    color: var(--link-color);
    font-size: 1.5em;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer {
    display: flex;
    flex-wrap: wrap;
/*  flex: ? ? ?; Cada um tem o seu específico!  */
}

header {
    flex: 1 1 100vw;
    height: 68.375px;   /* Esse valor depende do tamanho do footer */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-bg-color);
}

#logo, #brand {
    flex: 0 1 200px;
    background: var(--header-bg-color);
    color: var(--link-hover-color);
}

.hamburguer-menu {
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    /* Centraliza os links do menu tanto na vertical quanto na horizontal */
    align-items: center;
    justify-content: flex-end;  /* Menu posicionado a direita */
    
}

.menu-links {
    display: flex;
    justify-content: end;
    white-space: nowrap;
}

.menu-link {
    display: flex;
    margin-right: 5%;
}

main {
    flex: 20 1 500px;
    /* Permite criar uma main "infinita" */
    flex-wrap: wrap;
    overflow: auto;

    background: var(--main-bg-color);
}

aside {
    flex: 1 1 200px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    background: var(--aside-bg-color);
}

aside ul {
    width: 100%;
}

footer {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--nav-bg-color);
}

.copyright {
    color: var(--link-color);
}

.footer-links {
    display: flex;
}

.link {
    display: flex;
    margin: 0 20px 0 20px;
}

/* Regra para quando aside e main não couberem na mesma linha */
@media only screen and (max-width: 923px) {
    header {
        order: 0;
    }

    main {
        order: 1
    }

    /* aside vai para debaixo da main */
    aside {
        flex: 1 1 100vw;
        order: 2;
    }

    footer {
        order: 3;
    }
}

/* Regra para habilitar o menu-hambúrguer */
@media only screen and (max-width: 804px) {
    .hamburguer-menu {
        display: block;
    }

    #open-menu {
        margin-left: auto;
        margin-right: 15px;
        color: var(--text-color);
        color: var(--link-color);
    }

    #close-menu {
        position: fixed;
        right: 18px;
        top: 19.2px;
        color: var(--link-color);
    }

    #menu {
        position: fixed;
        top: 0;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: var(--nav-bg-color);
        background: #171717ef;
        
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    .menu-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .menu-link {
        margin: 4%;
    }
}

/* Regra para deixar o rodapé responsivo (depende da quantidade de ícones) */
@media only screen and (max-width: 528px) {
    .copyright {
        margin-bottom: 10px;
    }

    .footer-links {
        margin-top: 10px;
    }
}