{% extends 'base.html' %}   <!-- extends deve ser a primeira tag num template -->
{% load static %}   <!-- Sempre colocar esse load static se for usar um arquivo .css-->

{% block title %}Página Inicial{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/core_page_styles.css' %}">   <!-- Colocar um nome diferente de styles no arquivo .css (para não dar conflito com o arquivo .css global) -->
{% endblock %}

{% block sections %}
<section class="text-center">
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Esta é a página inicial do meu site, construída com Django!</p>
</section>
{% endblock %}