{% extends 'base.html' %}   <!-- extends deve ser a primeira tag num template -->
{% load static %}   <!-- Sempre colocar esse load static se for usar um arquivo .css -->

{% block title %}Página Inicial{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/core_page_styles.css' %}">
{% endblock %}

{% block header %}
<header>
    <!-- 
    <a href="#" id="logo">LOGO</a>
    -->
    <h1 id="brand">Meu Site</h1>
    <button id="open-menu" class="hamburguer-menu">&#9776;</button>
    {% block nav %}
    {% include 'components/nav.html' %}  <!-- Inclui a navbar padrão -->
    {% endblock %}
</header>
{% endblock %}

{% block sections %}
<section class="text-center">
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Esta é a página inicial do meu site, construída com Django!</p>
</section>
{% endblock %}

{% block aside %}
    <!--
    <aside>
        <h2>Conteúdo Relacionado</h2>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
    </aside>
    -->
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %} <!-- Inclui o footer padrão -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/hamburgerMenu.js' %}"></script>  <!-- Inclui o arquivo JS do menu-hambúrguer -->
{% endblock %}