{% extends 'base.html' %}   <!-- extends deve ser a primeira tag num template -->
{% load static %}   <!-- Sempre colocar esse load static se for usar um arquivo .css-->

{% block title %}Página Dinâmica{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'primeira_app/css/app_dinamic_page_styles.css' %}">   <!-- Colocar um nome diferente de styles no arquivo .css (para não dar conflito com o arquivo .css global) -->
{% endblock %}

{% block nav %}
    <!-- Inclua aqui a navbar personalizada para esse template dessa app -->
    {% include 'nav.html' %}
{% endblock %}

{% block sections %}
<section>
    <!-- Inclua aqui as sections personalizadas para esse template dessa app -->
    <h1>Lista de Tarefas!</h1>
    <ul>
        {% for todo in todos %}
            <li>{{ todo.title }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <!-- O form abaixo deve ser gerado pela view correspondente e conter o CSRF token -->
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" maxlength="100" required>
            </div>
            
            <div class="form-group">
                <label for="deadline">Data de Entrega:</label>
                <input type="datetime-local" id="deadline" name="deadline" required>
            </div>
            
            <div class="form-group">
                <label for="finished_at">Data de Finalização:</label>
                <input type="datetime-local" id="finished_at" name="finished_at">
            </div>
            
            <button type="submit" class="btn">Criar Tarefa</button>
        </form>
</section>
{% endblock %}