{% extends 'base.html' %}   <!-- extends deve ser a primeira tag num template -->
{% load static %}   <!-- Sempre colocar esse load static se for usar um arquivo .css-->

{% block title %}Página da Primeira App{% endblock %}   <!-- Altere o título desse template aqui -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'primeira_app/css/primeira_app_styles.css' %}">   <!-- Colocar um nome diferente de styles no arquivo .css (para não dar conflito com o arquivo .css global) -->
{% endblock %}

{% block nav %}
<!-- Inclua aqui a navbar personalizada para esse template dessa app -->
{% include 'primeira_app/component/nav_primeira_app.html' %}  <!-- Inclui a navbar da app -->
{% endblock %}

{% block sections %}
<!-- Inclua aqui as sections personalizadas para esse template dessa app -->
<section>
    <h1>Essa é a Minha Primeira App</h1>
    <p>Ela possui dois templates: um estático e um dinâmico</p>
</section>
{% endblock %}