{% load static %} <!-- Adicione esta linha para usar o CSS que está em static/css -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Inclui o arquivo CSS global -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Inclui o arquivo CSS local a app (para sobrescrever o CSS da main do global) -->
    {% block extra_css %}
    <!-- Área que será substituída pelo link CSS das páginas filhas -->
    {% endblock %}
</head>
<body>
    <header>
        <p class="brand">Meu Site</a>
        {% include 'nav.html' %}  <!-- Inclui a navbar -->
    </header>
    <main class="container">
        {% block main %}
        <!-- Área que será substituída pelas seções da main das páginas filhas -->
        {% endblock %}
    </main>
    
    {% include 'footer.html' %} <!-- Inclui o footer -->
</body>
</html>