<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'nav.html' %}  <!-- Inclui a navbar -->
    <div class="container">
        {% block content %}{% endblock %}  <!-- Área que será substituída nas páginas filhas -->
    </div>
</body>
</html>